@{
	ViewBag.Title = "Minifiers";
}

<h2>@ViewBag.Title</h2>
<ul class="list-unstyled">
	<li>@Html.ActionLink("HTML Minifier", "index", "html-minifier")</li>
	<li>@Html.ActionLink("XHTML Minifier", "index", "xhtml-minifier")</li>
	<li>@Html.ActionLink("XML Minifier", "index", "xml-minifier")</li>
</ul>