@{
	ViewBag.Title = "Minifiers";
}

<h2>@ViewBag.Title</h2>
<ul class="list-unstyled">
	<li><a asp-controller="HtmlMinifier" asp-action="Index">HTML Minifier</a></li>
	<li><a asp-controller="XhtmlMinifier" asp-action="Index">XHTML Minifier</a></li>
	<li><a asp-controller="XmlMinifier" asp-action="Index">XML Minifier</a></li>
</ul>