@using WebMarkupMin.Sample.AspNet5Core.Mvc6.Infrastructure.TagHelpers
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>@if (!string.IsNullOrEmpty(ViewBag.Title)) {<text>@ViewBag.Title | </text>}WebMarkupMin Sample ASP.NET 5 Core MVC 6 Site</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<environment names="Development">
			<link rel="stylesheet" href="~/styles/build/app.css" asp-append-version="true" />
			<script src="~/scripts/lib/modernizr.js" asp-append-version="true"></script>
		</environment>
		<environment names="Staging,Production">
			<link rel="stylesheet" href="~/styles/build/common-styles.min.css" asp-append-version="true" />
			<script src="~/scripts/build/modernizr.min.js" asp-append-version="true"></script>
		</environment>
	</head>
	<body>
		<div class="l-wrapper">
			<!-- Header -->
			<header class="l-header">
				<div class="l-constrained">
					<h1 class="logo">
						<a asp-controller="Home" asp-action="Index">WebMarkupMin</a>
					</h1>
					<!-- Navigation -->
					<nav class="primary-nav navbar navbar-default" role="navigation">
						<!-- Menu -->
						<ul class="nav navbar-nav" role="menu">
							<li role="menuitem"><a asp-controller="Home" asp-action="Index">Home</a></li>
							<li class="dropdown" role="menuitem">
								<a asp-controller="Home" asp-action="Minifiers" class="dropdown-toggle" data-toggle="dropdown">Minifiers <b class="caret"></b></a>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem"><a asp-controller="HtmlMinifier" asp-action="Index">HTML Minifier</a></li>
									<li role="menuitem"><a asp-controller="XhtmlMinifier" asp-action="Index">XHTML Minifier</a></li>
									<li role="menuitem"><a asp-controller="XmlMinifier" asp-action="Index">XML Minifier</a></li>
								</ul>
							</li>
							<li role="menuitem"><a asp-controller="Home" asp-action="Changelog">Change log</a></li>
							<li role="menuitem"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
						</ul>
						<!-- /Menu -->
					</nav>
					<!-- /Navigation -->
				</div>
			</header>
			<!-- /Header -->

			<!-- Content -->
			<div class="l-content">
				<div class="l-constrained">
					@RenderBody()
				</div>
			</div>
			<!-- /Content -->

			<div class="l-push"></div>
		</div>

		<!-- Footer -->
		<footer class="l-footer" role="contentinfo">
			<div class="l-constrained">
				<div class="l-copyright">
					<p>&copy; @DateTime.Now.Year <a href="http://www.taritsyn.ru" target="_blank">Andrey Taritsyn</a></p>
				</div>
				<div class="l-social">
					<ul>
						<li><a href="http://www.facebook.com/taritsyn" target="_blank" class="icon icon-32 icon-facebook">Facebook</a></li>
						<li><a href="http://twitter.com/andrey_taritsyn" target="_blank" class="icon icon-32 icon-twitter">Twitter</a></li>
						<li><a href="http://www.linkedin.com/in/taritsyn" target="_blank" class="icon icon-32 icon-linkedin">LinkedIn</a></li>
						<li><a href="http://plus.google.com/104102250252560157369" target="_blank" class="icon icon-32 icon-google-plus">Google plus</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- /Footer -->

		<environment names="Development">
			<conditional-comment type="ConditionalCommentType.Hidden" expression="lt IE 9">
				<script src="~/scripts/lib/jquery-compat/jquery.js" asp-append-version="true"></script>
			</conditional-comment>

			<conditional-comment type="ConditionalCommentType.RevealedValidating" expression="gte IE 9">
				<script src="~/scripts/lib/jquery/jquery.js" asp-append-version="true"></script>
			</conditional-comment>

			<script src="~/scripts/lib/bootstrap/dropdown.js" asp-append-version="true"></script>
			<script src="~/scripts/common.js" asp-append-version="true"></script>
		</environment>
		<environment names="Staging,Production">
			<conditional-comment type="ConditionalCommentType.Hidden" expression="lt IE 9">
				<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"
					asp-fallback-src-include="~/scripts/lib/jquery-compat/jquery.min.js"
					asp-fallback-test="window.jquery"
					asp-append-version="true">
				</script>
			</conditional-comment>

			<conditional-comment type="ConditionalCommentType.RevealedValidating" expression="gte IE 9">
				<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"
					asp-fallback-src-include="~/scripts/lib/jquery/jquery.min.js"
					asp-fallback-test="window.jquery"
					asp-append-version="true">
				</script>
			</conditional-comment>

			<script src="~/scripts/build/common-scripts.min.js" asp-append-version="true"></script>
		</environment>

		@RenderSection("scripts", required: false)
	</body>
</html>